body{
padding:0px;
margin:0px;
background-color:#A5A5A5;
}
.copy {
	font-family: Tahoma;
	font-size: 8px;
	line-height: 8px;
	color: #707070;
	text-decoration: none;
}
.text_1 {
	font-family: 微软雅黑;
	font-size: 11px;
	line-height: 12px;
	color: #707070;
}
.text_2 {
	font-family: 微软雅黑;
	font-size: 11px;
	line-height: 12px;
	color: #92BC00;
}
